body {
	background-image: url(../images/background.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

#header {
	background-image: linear-gradient(73deg,#92DC4E,#1DA119);
	text-align: center;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
	height: 200px;
	opacity: 0.8;
}

#title {
	margin-top: -25px;
}

.card {
	float: left;
	
	margin-top: 20px;
}

#infoinput {
	width: 585px;
}
#infodump {
	width: 460px;
}

#dropdownMenuButton {
	background-image: linear-gradient(73deg,#92DC4E,#1DA119);

    margin: -10px -100px; 
    position:relative;
    top:50%; 
    left:50%;

}

#submit {
	background-image: linear-gradient(73deg,#92DC4E,#1DA119);
	margin-top: 10px;
}
	
